## Datos Navegantes

In [1]:
import pandas as pd

In [ ]:
header = ['id_cuestionario', 'equipo_sobremesa', 'equipo_portátil']

In [9]:
navegantes = pd.read_csv('datos/navegantes2023.txt', sep='\t', lineterminator='\n', encoding='ISO-8859-1')
navegantes

,ID,EQUIPO1,EQUIPO2,EQUIPO3,EQUIPO4,EQUIPO5,EQUIPO6,EQUIPO7,EQUIPO8,EQUIPO9,...,TELETRA33,TELETRA34,TELETRA35,TELETRA3NS,EQUIPOC,USUARIO2,RESOL2,CODNAV2,CODSIS2,IDIOMA\r
0,4231,0,0,0,0,1,0,0,0,0,...,0,0,0,1,3.0,0,414 x 896,6,107,1
1,4316,0,0,0,0,1,0,0,0,0,...,0,0,0,1,1.0,0,1536 x 864,2,110,1
2,4336,0,1,0,0,1,0,0,0,0,...,0,0,0,0,NaN,12,1920 x 1080,2,110,1
3,4387,0,0,0,0,1,0,0,0,0,...,0,0,0,1,3.0,0,390 x 844,13,107,1
4,4398,1,0,1,0,1,0,0,0,0,...,0,0,0,1,3.0,12,Otra,7,59,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18897,32036,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1.0,0,1280 x 1024,7,110,1
18898,32037,1,1,1,0,1,0,0,0,1,...,0,0,0,1,3.0,0,360 x 800,7,59,1
18899,32038,1,1,0,1,1,0,0,0,0,...,0,0,0,1,1.0,0,1366 x 768,7,110,1
18900,32039,1,0,0,1,1,0,0,1,0,...,0,0,0,1,1.0,92,2560 x 1440,99,9999,1
18901,32040,1,1,1,1,1,1,1,1,1,...,0,0,0,0,1.0,2,Otra,7,110,1

## Kaggle
[Fuente](https://www.kaggle.com/datasets/tauheedkhan123/social-media-dataset?resource=download)

In [10]:
df_kaggle = pd.read_csv('datos/Mental Health Social Media Dataset.csv', sep=',')
df_kaggle

,Timestamp,1. What is your age?,2. Gender,3. Relationship Status,4. Occupation Status,5. What type of organizations are you affiliated with?,6. Do you use social media?,7. What social media platforms do you commonly use?,8. What is the average time you spend on social media every day?,9. How often do you find yourself using Social media without a specific purpose?,...,11. Do you feel restless if you haven't used Social media in a while?,"12. On a scale of 1 to 5, how easily distracted are you?","13. On a scale of 1 to 5, how much are you bothered by worries?",14. Do you find it difficult to concentrate on things?,"15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?","16. Following the previous question, how do you feel about these comparisons, generally speaking?",17. How often do you look to seek validation from features of social media?,18. How often do you feel depressed or down?,"19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?","20. On a scale of 1 to 5, how often do you face issues regarding sleep?"
0,4/18/2022 19:18:47,21.0,Male,In a relationship,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,5,...,2,5,2,5,2,3,2,5,4,5
1,4/18/2022 19:19:28,21.0,Female,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",More than 5 hours,4,...,2,4,5,4,5,1,1,5,4,5
2,4/18/2022 19:25:58,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube, Pinterest",Between 3 and 4 hours,3,...,1,2,5,4,3,3,1,4,2,5
3,4/18/2022 19:29:43,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram",More than 5 hours,4,...,1,3,5,3,5,1,2,4,3,2
4,4/18/2022 19:33:31,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube",Between 2 and 3 hours,3,...,4,4,5,5,3,3,3,4,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,5/21/2022 23:38:27,24.0,Male,Single,Salaried Worker,"University, Private",Yes,"Facebook, Instagram, YouTube",Between 2 and 3 hours,3,...,3,4,3,4,4,2,4,3,4,4
477,5/22/2022 0:01:04,26.0,Female,Married,Salaried Worker,University,Yes,"Facebook, YouTube",Between 1 and 2 hours,2,...,2,3,4,4,4,2,4,4,4,1
478,5/22/2022 10:29:21,29.0,Female,Married,Salaried Worker,University,Yes,"Facebook, YouTube",Between 2 and 3 hours,3,...,4,3,2,3,3,3,4,2,2,2
479,7/14/2022 19:33:46,21.0,Male,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,2,...,2,3,3,2,2,3,4,4,5,4
480,11/12/2022 13:16:50,53.0,Male,Married,Salaried Worker,Private,Yes,"Facebook, YouTube",Less than an Hour,2,...,1,3,1,1,3,3,2,2,2,3

## YRBS

Q1. How old are you?  
1. 12 years old or younger  
2. 13 years old  
3. 14 years old  
4. 15 years old  
5. 16 years old  
6. 17 years old  
7. 18 years old or older


Q2. What is your sex?  
1. Female  
2. Male



Q25. During the past 12 months, have you ever been electronically bullied? (Count being bullied through texting, Instagram, Facebook, or other social media.)  
1. Yes  
2. No  
Variable label: Electronic bullying


QN25: Numerator: Students who answered 1 for Q25 
1. Yes
2. No 
Denominator: Students who answered 1 or 2 for Q25  
Summary text: Percentage of students who were electronically bullied (counting being bullied through texting, Instagram, Facebook, or other social media, during the 12 months before the survey)  
QN variable label: Were electronically bullied



Q80. How often do you use social media?  
1. I do not use social media  
2. A few times a month  
3. About once a week  
4. A few times a week  
5. About once a day  
6. Several times a day  
7. About once an hour  
8. More than once an hour  
Variable label: Social media

QN80: Numerator: Students who answered 6, 7, or 8 for Q80  
1. Yes
2. No
Denominator: Students who answered 1, 2, 3, 4, 5, 6, G7, or 8 for Q80  
Summary text: Percentage of students who use social media several times a day  
QN variable label: Used social

In [9]:
import pyodbc
import pandas as pd

# Ruta al archivo .mdb
mdb_file = "datos/XXH2023_YRBS_Data.mdb"

# Crear la conexión con pyodbc
conn = pyodbc.connect(
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    f"DBQ={mdb_file};"
)

# Consulta SQL para leer datos de una tabla específica
query = "SELECT TOP 10 * FROM XXHq"  # Cambia 'XXHq' por el nombre de tu tabla

# Ejecutar la consulta y cargar los datos en un DataFrame
df = pd.read_sql(query, conn)

# Cerrar la conexión
conn.close()

# Mostrar las primeras filas del DataFrame
df.head()

C:\Users\Multivac Desktop\AppData\Local\Temp\ipykernel_16388\1181107343.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  site raceeth q6orig q7orig  record  ... q107     BMIPCT  weight stratum      psu
0   XX    None    505    180     1.0  ...    2  97.083855  0.8614   103.0  16294.0
1   XX       5    N N    233     2.0  ...    2        NaN  0.8920   103.0  16294.0
2   XX       5    506    165     3.0  ...    1  92.262516  0.5081   103.0  16294.0
3   XX       5    N N    105     4.0  ...    1        NaN  1.1759   103.0  16294.0
4   XX       5    601    125     5.0  ...    1   7.567053  0.8920   103.0  16294.0

[5 rows x 117 columns]

In [14]:
# Cogemos las variables que vamos a estudiar
df_YRBS = df[['q1', 'q2', 'q25', 'q80']]
df_YRBS.columns = ['age', 'genre', 'electronic_bullying', 'social_use']
df_YRBS

  age genre electronic_bullying social_use
0   3     1                   2          6
1   4     2                   2          4
2   5     2                   2          8
3   6     1                   2          8
4   3     2                   2          6
5   5     2                   2          8
6   6     2                   2          8
7   4     1                   2          6
8   4     2                   2          6
9   6     1                   2          6