## Datos Navegantes

In [ ]:
import pandas as pd

In [ ]:
header = ['id_cuestionario', 'equipo_sobremesa', 'equipo_portátil']

In [ ]:
navegantes = pd.read_csv('datos/navegantes2023.txt', sep='\t', lineterminator='\n', encoding='ISO-8859-1')
navegantes

,ID,EQUIPO1,EQUIPO2,EQUIPO3,EQUIPO4,EQUIPO5,EQUIPO6,EQUIPO7,EQUIPO8,EQUIPO9,...,TELETRA33,TELETRA34,TELETRA35,TELETRA3NS,EQUIPOC,USUARIO2,RESOL2,CODNAV2,CODSIS2,IDIOMA\r
0,4231,0,0,0,0,1,0,0,0,0,...,0,0,0,1,3.0,0,414 x 896,6,107,1
1,4316,0,0,0,0,1,0,0,0,0,...,0,0,0,1,1.0,0,1536 x 864,2,110,1
2,4336,0,1,0,0,1,0,0,0,0,...,0,0,0,0,NaN,12,1920 x 1080,2,110,1
3,4387,0,0,0,0,1,0,0,0,0,...,0,0,0,1,3.0,0,390 x 844,13,107,1
4,4398,1,0,1,0,1,0,0,0,0,...,0,0,0,1,3.0,12,Otra,7,59,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18897,32036,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1.0,0,1280 x 1024,7,110,1
18898,32037,1,1,1,0,1,0,0,0,1,...,0,0,0,1,3.0,0,360 x 800,7,59,1
18899,32038,1,1,0,1,1,0,0,0,0,...,0,0,0,1,1.0,0,1366 x 768,7,110,1
18900,32039,1,0,0,1,1,0,0,1,0,...,0,0,0,1,1.0,92,2560 x 1440,99,9999,1
18901,32040,1,1,1,1,1,1,1,1,1,...,0,0,0,0,1.0,2,Otra,7,110,1